<p-tabView>
  <p-tabPanel header="Newton Raphson Calculator">
    <app-newton-raphson-calculator></app-newton-raphson-calculator>
  </p-tabPanel>
  <p-tabPanel header="Bisection Method Calculator">
    <app-bisection-method-calculator></app-bisection-method-calculator>
  </p-tabPanel>
  <p-tabPanel header="False Position Calculator">
    <app-false-position-calculator></app-false-position-calculator>
  </p-tabPanel>
  <p-tabPanel header="Secant Method Calculator">
    <app-secant-method-calculator></app-secant-method-calculator>
  </p-tabPanel>
</p-tabView>
